{% extends '_base.html' %}
{% load static %}
{% load socialaccount %}

{% block title %}Home{% endblock title%}

{% block content %}
    <h2>Homepage</h2>
    <img class="sugarglow" src="{% static 'images/sugarglow.png' %}">
    {% if user.is_authenticated %}
        Hi {{ user.username }}!
        <form action="{% url 'account_logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">LogOut</button>
        </form>
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'account_login' %}">Log In</a>
        <a href="{% url 'account_signup' %}">Sign Up</a>
        <a href="#">Sign Up with GitHub</a>
    {% endif %}
<!--
    <img src="{% static 'images/path_to_img' %}">
    <script src="{% static 'js/base.js' %}"></script>
-->
{% endblock content%}